[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "Magic-Blog/themes/hugo-bearblog"]
	path = Magic-Blog/themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
